<div class="wrapper">
  <div class="add-todo-block">
    <input type="text" class="add-todo-inp" placeholder="Add todo">
    <button mat-icon-button>
      <mat-icon>note_add</mat-icon>
    </button>
  </div>
  <div class="todo-block-wrapper">
    <div class="todo-block">
      <h2>Todo list</h2>
      <div class="todo-list" *ngFor="let item of filtered">
        <app-todo [todoCard]="item"></app-todo>
      </div>
    </div>
    <div class="complate">
      <h2>Complete list</h2>
      <div class="todo-list" *ngFor="let item of completed">
        <app-todo [todoCard]="item"></app-todo>
      </div>
    </div>
  </div>
</div>
